[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
opencv-python = "*"
pillow = "*"
numpy = "*"
tensorboardx = "*"
torch = "*"
torchvision = "*"

[dev-packages]

[requires]
python_version = "3.10"
